.Dashboard .header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
}

.Dashboard .headerSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.Dashboard .headerSection-alt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dashboard .headerSection-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Dashboard .trademark{
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
}

.Dashboard .profileButton{
    width: auto;
    background-color: rgba(0,0,0,0);
    border: none;
}

.Dashboard .profileButton:hover{
    cursor:  pointer;
}

.dasboard-input-section i {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    font-size: .8rem;
}

.Dashboard .input-section {
    border: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: white ;
}

.Dashboard .input-section input {
    padding-left: 1rem;
    width: 100%;
    height: 2rem;
    border: none;
}

.Dashboard .input-section button {
    background-color: rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0.2);
    width: 2rem;
    font-size: 1rem;
}
.Dashboard .input-section button:hover {
    cursor: pointer;
}

/* .Dashboard .searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.Dashboard .headerSection{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Dashboard .iconsButton{
    bottom: 0;
    padding: 0.25rem;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.Dashboard .iconsButton:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.Dashboard .iconsButton.active{
    border-bottom-color: black;
}

.Dashboard .Icons {
    font-size: 1.25rem;;
}

.Dashboard .profileButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard .main {
    margin-top: calc(var(--header-height) + 2rem);
    margin-bottom: 4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.Dashboard .main button {
    background-color: var(--primary-color);
    border: none;
    width: 80%;
    height: 4rem;
    font-weight: bold;
    font-size: 1rem;
}

.Dashboard .footer {
    width: 100vw;
    height: 3rem;
    background-color: black;
    position: fixed;
    bottom: 0;
}

.Dashboard .footer button {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    color: var(--primary-color);
    border: none;
    text-align: center;
    transition: 0.3s;
    font-weight:bold;
}

.Dashboard .footerButton:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}