.Profile header#header {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
}

.Profile nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Profile i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile a {
    color: black;
}

.Profile .welcome {
    text-align: center;
    margin-top: 2rem;

    font-weight: bold;
    color: #303030;
    font-size: 1.3rem;
}

.Profile .info {
    padding: 2rem .5rem 1rem .5rem;
    margin: 0 .25rem;
}

.Profile .img .user-icon {
    width: 8rem;
    height: auto;
}

.Profile .img {
    position: relative;
}

.Profile .img::after {
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    width: 100%;
    height: 50%;
    top: 50%;
    z-index: -1;
}

.Profile .img i svg {
    background-color: white;
    border-radius: 100%;
    border: 5px solid white;
}

.Profile .form {
    background-color: var(--primary-color);
}

.Profile .form form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    gap: 10px;
}

.Profile .form .input-form.disabled .input input,
.Profile .form .input-form.disabled .input{
    background-color: #f2f2f2;
}

.Profile .form .input-form {
    display: flex;
    flex-direction: column;
    margin: 0 .7rem;
    gap: 3px;
}

.Profile .form .input-form .label {
    display: flex;
    justify-content: space-between;
}

.Profile .form .input-form .label label {
    font-weight: 600;
    color: #303030;
}

.Profile .form .input-form .input {
    display: flex;
    background-color: white;
    padding: 0 .75rem;
}

.Profile .form .input-form .input i {
    margin-right: 10px;
    font-size: 1rem;
}

.Profile .form .input-form .input input {
    width: 100%;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
}

.Profile #footer {
    background-color: var(--primary-color);
    width: 100vw;
    height: 3rem;

    position: fixed;
    bottom: 0;
}