.CreateUser #header {
    background-color: var(--primary-color);
    height: 3rem;
    padding: 0 1rem;
}

.CreateUser #header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.CreateUser #header nav i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CreateUser #header nav button{
    background: none;
    border: none;
    font-size: 1rem;
}

.CreateUser #main {
    padding: 2rem 2rem;
}

.CreateUser form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}