.Login {
    width: 100%;
    height: 100%;

    background-color: black;

    overflow: hidden;
}

.Login #header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.Login .logo {
    width: 10rem;
    height: auto;
}

.Login #main {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    height: 100%;
}

.Login .form {
    padding: 1.5rem 2rem;
}

.Login .form h2 {
    font-size: 1.25rem;
}

.Login .form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;

    margin-bottom: 2rem;
}

.Login #forgot-pass {
    color: var(--small-text-color);
    font-weight: bold;
}

.Login #forgot-pass:hover {
    color: var(--light-small-text-color);
    text-decoration: underline;
}

.Login .btn:hover {
    background-color: var(--light-primary-color);
    cursor: pointer;
}

.Login .divider {
    height: 1px;
    background-color: #e9e9e9;
}

.Login #footer {
    background-color: var(--primary-color);
    width: 100vw;
    height: 3rem;

    position: fixed;
    bottom: 0;
}