.dashboard-header {
    width: 100vw;
    height: 9rem;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
}

.dashboard-headerSection{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-trademark{
    width: 50%;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.dashboard-profileButton{
    width: 20%;
    background-color: rgba(0,0,0,0);
    border: none;
}

.dashboard-profileButton:hover{
    cursor:  pointer;
}

.dashboard-profileIcon{
    height: 50%;
    text-align: right;
}

.dashboard-main {

}

.dashboard-footer {
    width: 100vw;
    height: 3rem;
    background-color: black;
    position: fixed;
    bottom: 0;
}

.dashboard-footerButton {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    color: var(--primary-color);
    border: none;
    text-align: center;
    transition: 0.3s;
}

.dashboard-footerButton:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}
